.button {
  padding: 10px 30px;
  margin: 20px auto;
  max-width: 100px;
  background-color: #f5f5f5;
  border: 1px solid #eaeaea;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}
